asgiref==3.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
Django>=3.2,<5.0
django-allauth==65.9.0
idna==3.10
psycopg2-binary
requests==2.32.4
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
gunicorn
dj-database-url
django-jazzmin
whitenoise
django-import-export
django-widget-tweaks
pytz
# REST API
djangorestframework>=3.14.0
# For image/file uploads
Pillow
# For CORS if needed
django-cors-headers
# For authentication (if used)
django-crispy-forms
